@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: 'Roboto';
    font-style: normal;

    /* font-family: 'Raleway';
    font-style: normal; */
}

:root {
    --text-one: #D9D9D9;
    --text-two: #3C4852;
    --text-three: #BEBEBE;
    --text-four: #FFFFFF;
    --alert-color: #DE4313;
    --disabled: #E7E7E7;
    --success: #47BA68;
    --success-two: #D7EDDD;
    --danger: #F77171;
    --danger-two: #FF0000;
    --primary-one: #47BA68;
}

body::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 50%;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

body {
    background-image: url('../../assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.join-btn {
    background: linear-gradient(266.79deg, #0048FF 4.63%, #0096FF 100%);
    padding: 3px 20px !important;
    border-radius: 30px !important;
    font-size: 10px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-12 {
    font-size: 12px !important;
}

.f-10 {
    font-size: 10px !important;
}

a, button {
    cursor: pointer;
}

.spacing-2 {
    letter-spacing: 2px;
}

.mainContainer {
    padding: 100px 5px 0px 5px;   
}

.pay-container {
    /* width: fit-content; */
}

.progress-circle {
    width: 25px;
    height: 25px;
    padding: 2px 2px;
    border-radius: 50%;
    background-color: #0096FF;
    color: white;
    font-size: 14px;
}

.subscription-tile.border-success {
    background-color: #D7EDDD;
}

.subscription-tile-disabled {
    background-color: #E7E7E7 !important;
}

.radioSub:checked {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #fff;
    background-color: green;
}

.danger-3 {
    background: linear-gradient(135deg, rgba(222, 67, 19, 0.2) 0%, rgba(222, 67, 19, 0.2) 0.75%, rgba(222, 67, 19, 0.2) 2.92%, rgba(222, 68, 20, 0.2) 6.37%, rgba(223, 69, 21, 0.2) 10.97%, rgba(223, 72, 22, 0.2) 16.59%, rgba(224, 75, 24, 0.2) 23.1%, rgba(225, 80, 27, 0.2) 30.37%, rgba(227, 86, 31, 0.2) 38.27%, rgba(229, 94, 36, 0.2) 46.66%, rgba(231, 104, 43, 0.2) 55.41%, rgba(235, 117, 51, 0.2) 64.39%, rgba(238, 132, 60, 0.2) 73.47%, rgba(243, 149, 71, 0.2) 82.52%, rgba(248, 169, 84, 0.2) 91.41%, rgba(254, 193, 99, 0.2) 100%);
}
